---

---
<!-- Alpine mit classes vg. Thirus example-->
<!-- No outside click / Incl no-scroll when open (overflow-hidden on body)-->

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Starbucks Coffe Company</title>
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="font-opensans antialiased"  x-data="{ isOpen: false }" :class="{ 'overflow-hidden': isOpen }">
	<nav class="relative w-full bg-white p-5 shadow z-10">
		<div class="flex justify-between items-center xl:max-w-sb mx-auto">
			<div class=" w-12 h-12">
				<a href="index.html">
					<img src="./img/logo.svg" alt="Starbucks" />
				</a>
			</div>

			<ul class="hidden md:flex flex-1 ml-6 items-center text-base uppercase font-bold">
				<li>
					<a class="hover:text-primary" href="/">Menu</a>
				</li>
				<li>
					<a class="mx-8 hover:text-primary" href="/index2">Starbucks2</a>
				</li>
				<li>
					<a class="hover:text-primary" href="/starbuckstw">StarbucksTW</a>
				</li>
			</ul>

			<ul class="hidden md:flex items-center text-lg font-bold ">
				<li>
					<a class="flex items-center hover:text-primary" href="#">
						<img class=" w-5 h-5 mr-2" src="img/marker.svg" alt="">
						<span>Find a store</span>
					</a>
				</li>
				<li><button class="mx-6 font-semibold pointer inline-block border border-gray-900 rounded-full px-5 text-sm py-2 leading-tight hover:bg-gray-100 transition duration-300">Sign in</button></li>
				<li><button class="font-semibold pointer inline-block border rounded-full px-5 text-sm py-2 leading-tight text-white bg-black hover:bg-gray-700 transition duration-300">Join now</button></li>
			</ul>

      <div>
        <!-- Hamburger Menu -->
        <button type="button" class="block md:hidden pointer w-6 h-6 relative border-0 z-10 transition duration-300" @click="isOpen = ! isOpen" :class="{ 'open': isOpen }">
          <span class="hamburger-top absolute top-0 left-0 w-6 h-[2px] bg-black rotate-0 transition duration-500"></span>
          <span class="hamburger-middle absolute top-0 left-0 w-6 h-[2px] bg-black translate-y-1.5 transition duration-500"></span>
          <span class="hamburger-bottom absolute top-0 left-0 w-6 h-[2px] bg-black translate-y-3 transition duration-500"></span>
        </button>
        
        <!-- Mobile Menu -->
        <div>
          <div class="absolute top-20 right-0 bg-white w-9/12 sm:w-7/12 h-screen p-10 shadow-inner transition duration-300 md:transform-none md:hidden" :class="{'translate-x-0' : isOpen === true, 'translate-x-full' : isOpen === false}">
            <ul class="font-medium border-b border-black pb-7 mb-8 text-xl leading-loose space-y-5">
              <li>
                <a href="/">Menu</a>
              </li>
              <li>
                <a href="./index2">Starbucks2</a>
              </li>
              <li>
                <a href="./starbuckstw">Starbucks TW</a>
              </li>
              <li>
                <a href="./starbucks">Starbucks Orig</a>
              </li>
            </ul>
            <div class="mobile-menu-bottom">
              <button class="font-normal pointer inline-block border rounded-full px-4 text-sm py-1 leading-tight border-gray-900 mr-3 hover:bg-gray-100">Sign in</button>
              <button class="font-normal pointer inline-block border rounded-full px-4 text-sm py-1 leading-tight text-white bg-black hover:bg-gray-700">Join now</button>
              <div class="mt-6">
                <a href="#" class="flex items-center text-lg">
                  <img src="./img/marker.svg" class="h-5 w-5 mr-1" alt="" />
                  <span>Find a store</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
	
  

  </div>

	<!-- Box A -->
	<section class="text-center text-white bg-primary py-10 mb-7 xl:max-w-sb mx-auto">
		<div class="px-12 md:max-w-2xl lg:max-w-4xl mx-auto">
			<h2 class="text-3xl md:text-4xl lg:text-[50px] font-semibold uppercase tracking-[6px] leading-normal lg:leading-snug">Jingle all the way to free favorites</h2>
			<p class="text-xl md:text-2xl lg:text-2xl leading-relaxed md:leading-normal lg:leading-relaxed my-5">Join Starbucks® Rewards for delicious deals & exclusive offers.
			<a class="text-xl underline inline-block hover:text-gray-200 transition"href="#">Learn more</a>
			</p>
		</div>
	</section>

<!-- Box B -->
	<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 md:gap-x-8 items-center justify-between text-white bg-secondary mb-7 xl:max-w-sb mx-auto">
		<img class="max-w-full" src="./img/box-b.png" alt="" />
		<div class="max-w-lg text-center mt-5 px-5 pb-5 sm:pb-0 mx-auto">
			<h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold uppercase tracking-[6px] lg:leading-snug">News to the nice list</h2>
			<p class="text-lg md:text-xl lg:text-2xl lg:leading-relaxed my-5">For a nondairy twist on a holiday cookie classic, try the new Iced
          Sugar Cookie Almondmilk Latte.</p>
			<a href="#" class="mx-6 font-semibold pointer inline-block border border-white rounded-full px-5 text-sm py-2 sm:mt-5 mb-5 leading-tight hover:bg-red-800 transition duration-300">Order Now</a>
		</div>
	</section>

	<!-- Box C -->
	<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 md:gap-x-8 items-center justify-between text-white bg-secondary mb-7 xl:max-w-sb mx-auto">
      <img class="max-w-full order-0 sm:order-2" src="./img/box-c.png" alt="" />
      <div class="max-w-lg text-center mt-5 px-5 pb-5 sm:pb-0 mx-auto">
        <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold uppercase tracking-widest leading-normal lg:leading-snug">Merry moment</h2>
        <p class="text-lg md:text-xl lg:text-2xl leading-relaxed lg:leading-relaxed my-5">
          Treat yourself to a festive Sugar Plum Cheese Danish with a nicely
          spiced sugar-plum spread.
        </p>
        <a href="#" class="mx-6 font-semibold pointer inline-block border border-white rounded-full px-5 text-sm py-2 sm:mt-5 mb-5 leading-tight hover:bg-red-800 transition duration-300">Order Now</a>
      </div>
    </section>

	<!-- Box D -->
	<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 md:gap-x-8 items-center justify-between text-white bg-primary mb-7 xl:max-w-sb mx-auto">
		<img class="max-w-full" src="./img/box-d.png" alt="" />
		<div class="max-w-lg text-center mt-5 px-5 pb-5 sm:pb-0 mx-auto">
			<h2 class="text-3xl sm:text-xl md:text-3xl lg:text-4xl font-semibold uppercase tracking-wider leading-normal lg:leading-snug">Starbucks Thanksgiving Blend</h2>
			<p class="text-lg sm:text-normal md:text-xl lg:text-2xl leading-relaxed lg:leading-relaxed my-4">This elegant dark roast returns, showcasing flavors from some of the
        world’s major coffee regions.</p>
			<a href="#" class="mx-6 font-semibold pointer inline-block border border-white rounded-full px-5 text-sm py-2 sm:mt-5 mb-5 leading-tight hover:bg-green-900 transition duration-300">Order Now</a>
		</div>
	</section>

	<!-- Box E -->
	<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 md:gap-x-8 items-center justify-between text-white bg-secondary mb-7 xl:max-w-sb mx-auto">
		<img class="order-0 sm:order-2 max-w-full" src="./img/box-e.jpg" alt="" />
		<div class="max-w-lg text-center mt-5 px-5 py-10 mx-auto">
			<h2 class="text-3xl sm:text-2xl md:text-2xl lg:text-4xl font-semibold tracking-wide leading-normal lg:leading-snug">Fighting hunger this holiday</h2>
			<p class="text-lg md:text-xl lg:text-2xl leading-relaxed my-5">
			Hunger is affecting millions of people across America this holiday
      season. Join us in our commitment to hunger relief and help feed
      neighbors in need.
			</p>
			<a href="#" class="font-medium pointer inline-block border border-white rounded-full px-5 text-sm py-2 sm:mt-5 leading-tight hover:bg-red-800 transition duration-300">Order Now</a>
		</div>
	</section>

	<!-- Box F -->
  <section class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 md:gap-x-8 justify-center justify-evenly mb-7 xl:max-w-sb mx-auto">
    <div class="self-stretch bg-extra">
      <img class="max-w-full" src="./img/box-f1.jpg" alt="" />
      <div class="bg-extra py-10 mt-1 sm:mt-0">
        <div class="max-w-xl text-center justify-self-center pt-5 px-5 mx-auto">
          <h2 class="text-2xl font-semibold tracking-wide leading-normal mb-5">Let the holiday cheer come to you</h2>
          <p class="text-xl leading-relaxed my-5">
            Make the moment merry. Order Starbucks® holiday favorites on Uber
            Eats.*
          </p>
          <a href="#" class="mx-6 mt-5 font-semibold pointer inline-block border border-gray-900 rounded-full px-5 text-sm py-2 leading-tight hover:bg-black/5 transition duration-300">Order Now</a>
        </div>
      </div>
    </div>
    <div class="mt-7 sm:mt-0 self-stretch bg-primary">
      <img class="max-w-full" src="./img/box-f2.jpg" alt="" />
      <div class="bg-primary py-10 mt-1 sm:mt-0">
        <div class="max-w-xl text-center justify-self-center text-white pt-5 px-5 mx-auto">
          <h2 class="text-2xl font-semibold tracking-wide leading-normal mb-5">Loved Passing on Netflix?</h2>
          <p class="text-xl leading-relaxed my-5">
            Our new social series about film adaptations kicks off with the
            actors and directors who brought the book to life.
          </p>
          <a href="#" class="mx-6 mt-5 font-semibold pointer inline-block border border-white rounded-full px-5 text-sm py-2 leading-tight hover:bg-green-900 transition duration-300">Order Now</a>
        </div>
      </div>
    </div>
  </section>
	
	<div class="border my-7 xl:max-w-[1500px] mx-auto"></div>
	
	<footer class="xl:max-w-sb mx-auto">
    <div class="pl-8 pb-8">
      <div class="flex items-center my-5">
        <a class="mr-5" href="https://spotify.com">
          <img class="h-9 w-9"src="./img/social-spotify.svg" alt="" />
        </a>
        <a class="mr-5" href="https://facebook.com">
          <img class="h-9 w-9"src="./img/social-facebook.svg" alt="" />
        </a>
        <a class="mr-5" href="https://pinterest.com">
          <img class="h-9 w-9"src="./img/social-pinterest.svg" alt="" />
        </a>
        <a class="mr-5" href="https://instagram.com">
          <img class="h-9 w-9"src="./img/social-instagram.svg" alt="" />
        </a>
        <a class="mr-5" href="https://youtube.com">
          <img class="h-9 w-9"src="./img/social-youtube.svg" alt="" />
        </a>
        <a class="mr-5" href="https://twitter.com">
          <img class="h-9 w-9"src="./img/social-twitter.svg" alt="" />
        </a>
      </div>
      <p>© 2021 Starbucks Coffee Company. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>
       